{{#each items as |item|}}
{{log item}}
  <section data-id="{{item._id}}">
    <div class="col-6 card text-white bg-dark col-12">

    <h6>Item</h6>
    <h3>
    {{item.name}}
    </h3>

    <h6>Price</h6>
    <h3>
      {{item.price}}
    </h3>

    <h6>Description</h6>
    <h3>
      {{item.description}}
    </h3>

<!-- //photo -->
    <p class="photos">
      <img src="{{item.imgUrl}}">
    </p>
      <div class="hidden">
        <button data-id="{{item._id}}" class="add-to-cart hidden">Add to Cart</button>
      </div>

    </div>
  </section>

{{/each}}
