{{#each items as |item|}}
  <section data-id="{{item._id}}">
    <div data-id="{{item._id}}" class="card text-grey bg-light col-12">

      <ul>
      <li>
        <h5>Item:</h5>
          <h3>
          {{item.name}}
          </h3>
      </li>
      <li>
        <h5>Price:</h5>
          <h3>
            ${{item.price}}
          </h3>
      </li>

      <p>
        {{item.description}}
      </p>

<!-- //photo -->
    <p class="photos">
      <img src="{{item.imgUrl}}">
    </p>
      <div class="hidden">
        <button data-id="{{item._id}}" class="add-to-cart hidden">Add to Cart</button>
      </div>

    </div>
  </section>

{{/each}}
